.homeBgImg {
  /* background-image: url("https://cdn.pixabay.com/photo/2024/10/26/11/15/subway-9151034_1280.jpg"); */
  background-image: url("https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
